body {
    background: #B2CEC9;
}

p {
    font-size: 1em;
    color: #262626;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 1.8em;
    color: #E5E5E5;
}

main {
    padding: 18px 32px 4px 58px;
    background-color: #E5E5E5;
    width: 38em;
    max-width: 80vw;
}

freetitle {
    padding: 4px 36px 10px 20px;
    background-color: #262626;
    font-size: 1.8em;
    color: #E5E5E5;
    font-family: "Georgia", serif;
    font-style: italic;
    
}

#logo {
    padding: 14px 0px 20px 0px;
}

img.resize {
    max-width: 100%;
}